
// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Pages commons tag
// Last update: 23/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥


// Metro mode compatibility.
@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: $font-family;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

::selection {
  text-shadow: none;
}

:root {
  font-size: $base-font-size;
}
