
// ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
// Commons typography configurations
// Last update: 24/03/2016
// ↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥

$font-family: 'MarkPro', Helvetica, Tahoma, sans-serif;
$font-family--alt: '', serif;

$font-weight-light    : 100;
$font-weight-book     : 300;
$font-weight-normal   : 400;
$font-weight-medium   : 500;
$font-weight-bold     : 700;
$font-weight-extrabold: 900;

$base-font-size       : 16px;

$font-size-huge       : 4.5rem;     // 72px
$font-size-xlarge     : 2.5rem;     // 40px
$font-size-large      : 2rem;       // 32px
$font-size-medium     : 1.5rem;     // 24px
$font-size-base       : 1rem;       // 16px
$font-size-small      : 0.875rem;   // 14px
$font-size-xsmall     : 0.75rem;    // 12px
$font-size-xxsmall    : 0.625rem;  // 10px

$line-height-base     : 1.5;
$line-height-small    : 1.3;
