//@if $font-face-primary and $font-face-primary != '' {
/*FontFace*/
@font-face {
  font-family: 'MarkPro';
  src: url('../assets/font/MarkPro-Light.eot');
  src: url('../assets/font/MarkPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/MarkPro-Light.woff2') format('woff2'),
  url('../assets/font/MarkPro-Light.woff') format('woff'),
  url('../assets/font/MarkPro-Light.ttf') format('truetype'),
  url('../assets/font/MarkPro-Light.svg#MarkPro-Light') format('svg');
  font-weight: $font-weight-light;
}

@font-face {
  font-family: 'MarkPro';
  src: url('../assets/font/MarkPro-Book.eot');
  src: url('../assets/font/MarkPro-Book.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/MarkPro-Book.woff2') format('woff2'),
  url('../assets/font/MarkPro-Book.woff') format('woff'),
  url('../assets/font/MarkPro-Book.ttf') format('truetype'),
  url('../assets/font/MarkPro-Book.svg#MarkPro-Book') format('svg');
  font-weight: $font-weight-book;
}

@font-face {
  font-family: 'MarkPro';
  src: url('../assets/font/MarkPro.eot');
  src: url('../assets/font/MarkPro.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/MarkPro.woff2') format('woff2'),
  url('../assets/font/MarkPro.woff') format('woff'),
  url('../assets/font/MarkPro.ttf') format('truetype'),
  url('../assets/font/MarkPro.svg#MarkPro') format('svg');
  font-weight: $font-weight-normal;
}

@font-face {
  font-family: 'MarkPro';
  src: url('../assets/font/MarkPro-Medium.eot');
  src: url('../assets/font/MarkPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/MarkPro-Medium.woff2') format('woff2'),
  url('../assets/font/MarkPro-Medium.woff') format('woff'),
  url('../assets/font/MarkPro-Medium.ttf') format('truetype'),
  url('../assets/font/MarkPro-Medium.svg#MarkPro-Medium') format('svg');
  font-weight: $font-weight-medium;
}

@font-face {
  font-family: 'MarkPro';
  src: url('../assets/font/MarkPro-Bold.eot');
  src: url('../assets/font/MarkPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/MarkPro-Bold.woff2') format('woff2'),
  url('../assets/font/MarkPro-Bold.woff') format('woff'),
  url('../assets/font/MarkPro-Bold.ttf') format('truetype'),
  url('../assets/font/MarkPro-Bold.svg#MarkPro-Bold') format('svg');
  font-weight: $font-weight-bold;
}

@font-face {
  font-family: 'MarkPro';
  src: url('../assets/font/MarkPro-Heavy.eot');
  src: url('../assets/font/MarkPro-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../assets/font/MarkPro-Heavy.woff2') format('woff2'),
  url('../assets/font/MarkPro-Heavy.woff') format('woff'),
  url('../assets/font/MarkPro-Heavy.ttf') format('truetype'),
  url('../assets/font/MarkPro-Heavy.svg#MarkPro-Heavy') format('svg');
  font-weight: $font-weight-extrabold;
}

//}
